### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# operating system-related files
# file properties cache/storage on macOS
*.DS_Store
# thumbnail cache on Windows
Thumbs.db

# profiling data
.prof

### OTHER ###
shell/tmscore/test
python/pymol/data/
python/pymol/internal_ca_coords.txt
python/pymol/trace.pdb
python/protein/internal_ca_coords.txt
python/protein/trace.pdb
python/protein/trace_icp.pdb
python/Grid3/data/1igd.pdb
python/Grid3/data/1igd_center.mrc
python/Grid3/data/1igd_center.pdb
python/protein/EM_map.CCP4
python/protein/data/1igd.mrc
python/protein/data/1igd_center.mrc
python/protein/data/1igd_center.pdb
python/protein/min.pdb
X_data
y_data
python/toymodels/MCmovie
python/toymodels/out.mp4
python/toymodels/metaD.mp4
python/test.txt
test_crosscorrdmat.png
python/protein/cmapfit/data/5b02_D_230-320.pdb
python/protein/cmapfit/dmat_inp.png
python/protein/cmapfit/dmat_ref.png
python/protein/cmapfit/profile.png
python/protein/cmapfit/profile_test1.png
python/protein/cmapfit/profile_test2.png
python/protein/cmapfit/profile_test3.png
python/protein/cmapfit/run_test.sh
python/protein/cmapfit/traj.npy
python/pymol/AC.pkl
python/pymol/AC.sdf
python/pymol/mod.pdb
python/pymol/test.pdb
python/protein/cmapfit/data/5hl8_A.pdb
python/protein/cmapfit/data/5hl8_C.pdb
python/protein/cmapfit/data/5wul_A.pdb
python/protein/cmapfit/data/5wuw_B.pdb
python/protein/cmapfit/data/6i3r_A_icp.pdb
python/protein/cmapfit/dmat_inp_0.png
python/protein/cmapfit/dmat_inp_1.png
python/protein/cmapfit/dmat_out_0.png
python/protein/cmapfit/dmat_out_1.png
python/protein/cmapfit/dmat_ref_0.png
python/protein/cmapfit/dmat_ref_1.png
python/protein/cmapfit/sol0.pdb
python/protein/cmapfit/sol0_icp.pdb
python/protein/cmapfit/traj_0.npy
python/protein/cmapfit/traj_1.npy
python/protein/cmapfit/fitting_example.pse
python/point_set_registration/data/1ycr.pdb
python/point_set_registration/data/1ycr_rot.pdb
python/point_set_registration/data/out.pdb
python/gym/mullersac.log
python/localpeaks.log
python/protein/cmapfit/cmapfit.log
python/mapalign/mapalign.log
python/protein/interpred/data/pdb/00/pdb100d.ent.gz
python/protein/interpred/data/pdb/00/pdb200d.ent.gz
python/protein/interpred/data/pdb/00/pdb200l.ent.gz
python/protein/interpred/data/pdb/00/pdb300d.ent.gz
python/protein/interpred/data/pdb/00/pdb400d.ent.gz
python/protein/interpred/data/pdb/01/pdb101d.ent.gz
python/protein/interpred/data/pdb/01/pdb101m.ent.gz
python/protein/interpred/data/pdb/01/pdb201d.ent.gz
python/protein/interpred/data/pdb/01/pdb201l.ent.gz
python/protein/interpred/data/pdb/01/pdb301d.ent.gz
python/protein/interpred/data/pdb/01/pdb401d.ent.gz
python/protein/interpred/data/pdb/02/pdb102d.ent.gz
python/protein/interpred/data/pdb/02/pdb102l.ent.gz
python/protein/interpred/data/pdb/02/pdb102m.ent.gz
python/protein/interpred/data/pdb/02/pdb202d.ent.gz
python/protein/interpred/data/pdb/02/pdb302d.ent.gz
python/protein/interpred/data/pdb/02/pdb402d.ent.gz
python/protein/interpred/data/pdb/03/pdb103d.ent.gz
python/protein/interpred/data/pdb/03/pdb103l.ent.gz
python/protein/interpred/data/pdb/03/pdb103m.ent.gz
python/protein/interpred/data/pdb/03/pdb203d.ent.gz
python/protein/interpred/data/pdb/03/pdb303d.ent.gz
python/protein/interpred/data/pdb/03/pdb403d.ent.gz
python/protein/interpred/data/pdb/04/pdb104d.ent.gz
python/protein/interpred/data/pdb/04/pdb104l.ent.gz
python/protein/interpred/data/pdb/04/pdb104m.ent.gz
python/protein/interpred/data/pdb/04/pdb204d.ent.gz
python/protein/interpred/data/pdb/04/pdb304d.ent.gz
python/protein/interpred/data/pdb/04/pdb404d.ent.gz
python/protein/interpred/data/pdb/05/pdb105d.ent.gz
python/protein/interpred/data/pdb/05/pdb105m.ent.gz
python/protein/interpred/data/pdb/05/pdb205d.ent.gz
python/protein/interpred/data/pdb/05/pdb205l.ent.gz
python/protein/interpred/data/pdb/05/pdb305d.ent.gz
python/protein/interpred/data/pdb/05/pdb405d.ent.gz
python/protein/interpred/data/pdb/06/pdb106d.ent.gz
python/protein/interpred/data/pdb/06/pdb106m.ent.gz
python/protein/interpred/data/pdb/06/pdb206d.ent.gz
python/protein/interpred/data/pdb/06/pdb206l.ent.gz
python/protein/interpred/data/pdb/06/pdb306d.ent.gz
python/protein/interpred/data/pdb/06/pdb406d.ent.gz
python/protein/interpred/data/pdb/07/pdb107d.ent.gz
python/protein/interpred/data/pdb/07/pdb107l.ent.gz
python/protein/interpred/data/pdb/07/pdb107m.ent.gz
python/protein/interpred/data/pdb/07/pdb207d.ent.gz
python/protein/interpred/data/pdb/07/pdb207l.ent.gz
python/protein/interpred/data/pdb/07/pdb307d.ent.gz
python/protein/interpred/data/pdb/07/pdb407d.ent.gz
python/protein/interpred/data/pdb/08/pdb108d.ent.gz
python/protein/interpred/data/pdb/08/pdb108l.ent.gz
python/protein/interpred/data/pdb/08/pdb108m.ent.gz
python/protein/interpred/data/pdb/08/pdb208d.ent.gz
python/protein/interpred/data/pdb/08/pdb208l.ent.gz
python/protein/interpred/data/pdb/08/pdb308d.ent.gz
python/protein/interpred/data/pdb/08/pdb408d.ent.gz
python/protein/interpred/data/pdb/09/pdb109d.ent.gz
python/protein/interpred/data/pdb/09/pdb109l.ent.gz
python/protein/interpred/data/pdb/09/pdb109m.ent.gz
python/protein/interpred/data/pdb/09/pdb209d.ent.gz
python/protein/interpred/data/pdb/09/pdb209l.ent.gz
python/protein/interpred/data/pdb/09/pdb309d.ent.gz
python/protein/interpred/data/pdb/09/pdb409d.ent.gz
python/protein/interpred/data/pdb/0g/pdb10gs.ent.gz
python/protein/interpred/data/pdb/0g/pdb20gs.ent.gz
python/protein/interpred/data/pdb/0m/pdb10mh.ent.gz
python/protein/interpred/data/pdb/10/pdb110d.ent.gz
python/protein/interpred/data/pdb/10/pdb110l.ent.gz
python/protein/interpred/data/pdb/10/pdb110m.ent.gz
python/protein/interpred/data/pdb/10/pdb210d.ent.gz
python/protein/interpred/data/pdb/10/pdb210l.ent.gz
python/protein/interpred/data/pdb/10/pdb310d.ent.gz
python/protein/interpred/data/pdb/10/pdb410d.ent.gz
python/protein/interpred/data/pdb/11/pdb111d.ent.gz
python/protein/interpred/data/pdb/11/pdb111l.ent.gz
python/protein/interpred/data/pdb/11/pdb111m.ent.gz
python/protein/interpred/data/pdb/11/pdb211d.ent.gz
python/protein/interpred/data/pdb/11/pdb211l.ent.gz
python/protein/interpred/data/pdb/11/pdb311d.ent.gz
python/protein/interpred/data/pdb/11/pdb411d.ent.gz
python/protein/interpred/data/pdb/12/pdb112d.ent.gz
python/protein/interpred/data/pdb/12/pdb112l.ent.gz
python/protein/interpred/data/pdb/12/pdb112m.ent.gz
python/protein/interpred/data/pdb/12/pdb212d.ent.gz
python/protein/interpred/data/pdb/12/pdb212l.ent.gz
python/protein/interpred/data/pdb/12/pdb312d.ent.gz
python/protein/interpred/data/pdb/12/pdb412d.ent.gz
python/protein/interpred/data/pdb/13/pdb113d.ent.gz
python/protein/interpred/data/pdb/13/pdb113l.ent.gz
python/protein/interpred/data/pdb/13/pdb213d.ent.gz
python/protein/interpred/data/pdb/13/pdb213l.ent.gz
python/protein/interpred/data/pdb/13/pdb313d.ent.gz
python/protein/interpred/data/pdb/13/pdb413d.ent.gz
python/protein/interpred/data/pdb/14/pdb114d.ent.gz
python/protein/interpred/data/pdb/14/pdb114l.ent.gz
python/protein/interpred/data/pdb/14/pdb214d.ent.gz
python/protein/interpred/data/pdb/14/pdb214l.ent.gz
python/protein/interpred/data/pdb/14/pdb314d.ent.gz
python/protein/interpred/data/pdb/14/pdb414d.ent.gz
python/protein/interpred/data/pdb/15/pdb115d.ent.gz
python/protein/interpred/data/pdb/15/pdb115l.ent.gz
python/protein/interpred/data/pdb/15/pdb215d.ent.gz
python/protein/interpred/data/pdb/15/pdb215l.ent.gz
python/protein/interpred/data/pdb/15/pdb315d.ent.gz
python/protein/interpred/data/pdb/16/pdb116d.ent.gz
python/protein/interpred/data/pdb/16/pdb216d.ent.gz
python/protein/interpred/data/pdb/16/pdb216l.ent.gz
python/protein/interpred/data/pdb/16/pdb316d.ent.gz
python/protein/interpred/data/pdb/17/pdb117d.ent.gz
python/protein/interpred/data/pdb/17/pdb117e.ent.gz
python/protein/interpred/data/pdb/17/pdb217d.ent.gz
python/protein/interpred/data/pdb/17/pdb217l.ent.gz
python/protein/interpred/data/pdb/17/pdb317d.ent.gz
python/protein/interpred/data/pdb/17/pdb417d.ent.gz
python/protein/interpred/data/pdb/18/pdb118d.ent.gz
python/protein/interpred/data/pdb/18/pdb118l.ent.gz
python/protein/interpred/data/pdb/18/pdb218d.ent.gz
python/protein/interpred/data/pdb/18/pdb218l.ent.gz
python/protein/interpred/data/pdb/18/pdb318d.ent.gz
python/protein/interpred/data/pdb/18/pdb418d.ent.gz
python/protein/interpred/data/pdb/19/pdb119d.ent.gz
python/protein/interpred/data/pdb/19/pdb119l.ent.gz
python/protein/interpred/data/pdb/19/pdb219d.ent.gz
python/protein/interpred/data/pdb/19/pdb219l.ent.gz
python/protein/interpred/data/pdb/19/pdb319d.ent.gz
python/protein/interpred/data/pdb/19/pdb419d.ent.gz
python/protein/interpred/data/pdb/1a/pdb11as.ent.gz
python/protein/interpred/data/pdb/1b/pdb11ba.ent.gz
python/protein/interpred/data/pdb/1b/pdb11bg.ent.gz
python/protein/interpred/data/pdb/1b/pdb21bi.ent.gz
python/protein/interpred/data/pdb/1b/pdb31bi.ent.gz
python/protein/interpred/data/pdb/1b/pdb41bi.ent.gz
python/protein/interpred/data/pdb/1g/pdb11gs.ent.gz
python/protein/interpred/data/pdb/20/pdb120l.ent.gz
python/protein/interpred/data/pdb/20/pdb220d.ent.gz
python/protein/interpred/data/pdb/20/pdb220l.ent.gz
python/protein/interpred/data/pdb/20/pdb320d.ent.gz
python/protein/interpred/data/pdb/20/pdb420d.ent.gz
python/protein/interpred/data/pdb/21/pdb121d.ent.gz
python/protein/interpred/data/pdb/21/pdb121p.ent.gz
python/protein/interpred/data/pdb/21/pdb221d.ent.gz
python/protein/interpred/data/pdb/21/pdb221l.ent.gz
python/protein/interpred/data/pdb/21/pdb221p.ent.gz
python/protein/interpred/data/pdb/21/pdb321d.ent.gz
python/protein/interpred/data/pdb/21/pdb421d.ent.gz
python/protein/interpred/data/pdb/21/pdb421p.ent.gz
python/protein/interpred/data/pdb/21/pdb521p.ent.gz
python/protein/interpred/data/pdb/21/pdb621p.ent.gz
python/protein/interpred/data/pdb/21/pdb721p.ent.gz
python/protein/interpred/data/pdb/21/pdb821p.ent.gz
python/protein/interpred/data/pdb/22/pdb122d.ent.gz
python/protein/interpred/data/pdb/22/pdb122l.ent.gz
python/protein/interpred/data/pdb/22/pdb222d.ent.gz
python/protein/interpred/data/pdb/22/pdb222l.ent.gz
python/protein/interpred/data/pdb/22/pdb322d.ent.gz
python/protein/interpred/data/pdb/22/pdb422d.ent.gz
python/protein/interpred/data/pdb/23/pdb123d.ent.gz
python/protein/interpred/data/pdb/23/pdb123l.ent.gz
python/protein/interpred/data/pdb/23/pdb223d.ent.gz
python/protein/interpred/data/pdb/23/pdb223l.ent.gz
python/protein/interpred/data/pdb/23/pdb323d.ent.gz
python/protein/interpred/data/pdb/23/pdb423d.ent.gz
python/protein/interpred/data/pdb/24/pdb124d.ent.gz
python/protein/interpred/data/pdb/24/pdb224d.ent.gz
python/protein/interpred/data/pdb/24/pdb224l.ent.gz
python/protein/interpred/data/pdb/24/pdb324d.ent.gz
python/protein/interpred/data/pdb/24/pdb424d.ent.gz
python/protein/interpred/data/pdb/25/pdb125l.ent.gz
python/protein/interpred/data/pdb/25/pdb225d.ent.gz
python/protein/interpred/data/pdb/25/pdb225l.ent.gz
python/protein/interpred/data/pdb/25/pdb325d.ent.gz
python/protein/interpred/data/pdb/25/pdb425d.ent.gz
python/protein/interpred/data/pdb/26/pdb126d.ent.gz
python/protein/interpred/data/pdb/26/pdb126l.ent.gz
python/protein/interpred/data/pdb/26/pdb226d.ent.gz
python/protein/interpred/data/pdb/26/pdb226l.ent.gz
python/protein/interpred/data/pdb/26/pdb326d.ent.gz
python/protein/interpred/data/pdb/26/pdb426d.ent.gz
python/protein/interpred/data/pdb/27/pdb127d.ent.gz
python/protein/interpred/data/pdb/27/pdb127l.ent.gz
python/protein/interpred/data/pdb/27/pdb227d.ent.gz
python/protein/interpred/data/pdb/27/pdb227l.ent.gz
python/protein/interpred/data/pdb/27/pdb327d.ent.gz
python/protein/interpred/data/pdb/27/pdb427d.ent.gz
python/protein/interpred/data/pdb/28/pdb128d.ent.gz
python/protein/interpred/data/pdb/28/pdb128l.ent.gz
python/protein/interpred/data/pdb/28/pdb228l.ent.gz
python/protein/interpred/data/pdb/28/pdb328d.ent.gz
python/protein/interpred/data/pdb/28/pdb428d.ent.gz
python/protein/interpred/data/pdb/29/pdb129d.ent.gz
python/protein/interpred/data/pdb/29/pdb129l.ent.gz
python/protein/interpred/data/pdb/29/pdb229d.ent.gz
python/protein/interpred/data/pdb/29/pdb229l.ent.gz
python/protein/interpred/data/pdb/29/pdb329d.ent.gz
python/protein/interpred/data/pdb/29/pdb429d.ent.gz
python/protein/interpred/data/pdb/2a/pdb12as.ent.gz
python/protein/interpred/data/pdb/2c/pdb12ca.ent.gz
python/protein/interpred/data/pdb/2c/pdb32c2.ent.gz
python/protein/interpred/data/pdb/2e/pdb12e8.ent.gz
python/protein/interpred/data/pdb/2g/pdb12gs.ent.gz
python/protein/interpred/data/pdb/2g/pdb22gs.ent.gz
python/protein/interpred/data/pdb/30/pdb130d.ent.gz
python/protein/interpred/data/pdb/30/pdb130l.ent.gz
python/protein/interpred/data/pdb/30/pdb230d.ent.gz
python/protein/interpred/data/pdb/30/pdb230l.ent.gz
python/protein/interpred/data/pdb/30/pdb330d.ent.gz
python/protein/interpred/data/pdb/30/pdb430d.ent.gz
python/protein/interpred/data/pdb/30/pdb830c.ent.gz
python/protein/interpred/data/pdb/31/pdb131d.ent.gz
python/protein/interpred/data/pdb/31/pdb131l.ent.gz
python/protein/interpred/data/pdb/31/pdb231d.ent.gz
python/protein/interpred/data/pdb/31/pdb231l.ent.gz
python/protein/interpred/data/pdb/31/pdb331d.ent.gz
python/protein/interpred/data/pdb/31/pdb431d.ent.gz
python/protein/interpred/data/pdb/32/pdb132d.ent.gz
python/protein/interpred/data/pdb/32/pdb132l.ent.gz
python/protein/interpred/data/pdb/32/pdb232d.ent.gz
python/protein/interpred/data/pdb/32/pdb232l.ent.gz
python/protein/interpred/data/pdb/32/pdb332d.ent.gz
python/protein/interpred/data/pdb/32/pdb432d.ent.gz
python/protein/interpred/data/pdb/33/pdb133d.ent.gz
python/protein/interpred/data/pdb/33/pdb133l.ent.gz
python/protein/interpred/data/pdb/33/pdb233d.ent.gz
python/protein/interpred/data/pdb/33/pdb233l.ent.gz
python/protein/interpred/data/pdb/33/pdb333d.ent.gz
python/protein/interpred/data/pdb/33/pdb433d.ent.gz
python/protein/interpred/data/pdb/34/pdb134d.ent.gz
python/protein/interpred/data/pdb/34/pdb134l.ent.gz
python/protein/interpred/data/pdb/34/pdb234d.ent.gz
python/protein/interpred/data/pdb/34/pdb234l.ent.gz
python/protein/interpred/data/pdb/34/pdb334d.ent.gz
python/protein/interpred/data/pdb/34/pdb434d.ent.gz
python/protein/interpred/data/pdb/35/pdb135d.ent.gz
python/protein/interpred/data/pdb/35/pdb135l.ent.gz
python/protein/interpred/data/pdb/35/pdb235d.ent.gz
python/protein/interpred/data/pdb/35/pdb235l.ent.gz
python/protein/interpred/data/pdb/35/pdb335d.ent.gz
python/protein/interpred/data/pdb/35/pdb435d.ent.gz
python/protein/interpred/data/pdb/36/pdb136d.ent.gz
python/protein/interpred/data/pdb/36/pdb236d.ent.gz
python/protein/interpred/data/pdb/36/pdb236l.ent.gz
python/protein/interpred/data/pdb/36/pdb336d.ent.gz
python/protein/interpred/data/pdb/36/pdb436d.ent.gz
python/protein/interpred/data/pdb/37/pdb137d.ent.gz
python/protein/interpred/data/pdb/37/pdb137l.ent.gz
python/protein/interpred/data/pdb/37/pdb237d.ent.gz
python/protein/interpred/data/pdb/37/pdb237l.ent.gz
python/protein/interpred/data/pdb/37/pdb337d.ent.gz
python/protein/interpred/data/pdb/37/pdb437d.ent.gz
python/protein/interpred/data/pdb/38/pdb138d.ent.gz
python/protein/interpred/data/pdb/38/pdb138l.ent.gz
python/protein/interpred/data/pdb/38/pdb238d.ent.gz
python/protein/interpred/data/pdb/38/pdb238l.ent.gz
python/protein/interpred/data/pdb/38/pdb338d.ent.gz
python/protein/interpred/data/pdb/38/pdb438d.ent.gz
python/protein/interpred/data/pdb/39/pdb139d.ent.gz
python/protein/interpred/data/pdb/39/pdb139l.ent.gz
python/protein/interpred/data/pdb/39/pdb239d.ent.gz
python/protein/interpred/data/pdb/39/pdb239l.ent.gz
python/protein/interpred/data/pdb/39/pdb339d.ent.gz
python/protein/interpred/data/pdb/39/pdb439d.ent.gz
python/protein/interpred/PDBloader.log
python/protein/interpred/nnet.log
python/protein/interpred/interpred.log
python/protein/interpred/interpred.log~20220423-000450~
python/protein/interpred/models/interpred_20220422_173638.pth
python/protein/interpred/models/interpred_20220425_111747.pth
python/protein/interpred/interpred.log~20220426-084321~
python/protein/interpred/models/interpred_20220425_150918.pth
python/protein/interpred/models/interpred_20220426_104359.pth
python/protein/interpred/interpred.log~20220510-085928~
python/protein/interpred/models/interpred_20220509_140416.pth
python/protein/interpred/models/test.pth
python/protein/interpred/models/interpred_20220511_191451.pth
python/protein/interpred/DB.log
python/protein/interpred/data/1ycr.cmap.npz
python/protein/interpred/models/interpred_20220513_094135.pth
python/protein/interpred/models/interpred_20220513_103948.pth
python/protein/interpred/models/interpred_20220516_145126.pt
python/protein/interpred/utils.log
python/protein/interpred/unet.log
python/protein/interpred/models/interpred_20220519_145834.pth
python/protein/interpred/models/interpred_20220519_145847.pth
python/protein/interpred/models/interpred_20220519_145941.pth
python/protein/interpred/models/interpred_20220519_1456.pt
python/protein/interpred/models/interpred_20220523_1038.pt
python/protein/VAE/data/1ycr.pdb
python/protein/VAE/models/cmapvae.pt
python/protein/VAE/cmapvae.log
python/protein/VAE/models/test.pt
python/protein/VAE/cmapvae.log~20220525-083123~
python/protein/VAE/models/1.pt
python/protein/VAE/models/cmapvae_20220524_2255.pt
python/protein/VAE/utils.log
python/protein/VAE/models/somtest.p
python/protein/VAE/somvae.log
python/protein/interpred/models/interpred_20220530_171553.pth
python/protein/interpred/models/interpred_20220530_171614.pth
python/protein/interpred/models/interpred_20220530_171827.pth
python/protein/interpred/models/test.pt
python/faiss/index.faiss
python/protein/VAE/som_20220525_0843.p
python/protein/VAE/som_20220525_0843.p~20220531-124843~
python/protein/VAE/models/cmapvae_20220601_0941.pt
python/protein/VAE/encode_pdb.log
python/protein/VAE/filter_pdb.log~20220601-154849~
python/protein/filter_pdb.log
python/protein/test.log
python/protein/VAE/pdb
python/protein/VAE/mapalign.log
python/protein/VAE/pdbfetch/1ycr.cif
python/protein/VAE/pdbfetch/2wj8.cif
python/protein/VAE/pdbfetch/4ci0.cif
python/protein/VAE/pdbfetch/4ucc.cif
python/protein/VAE/pdbfetch/6lzg.cif
python/protein/VAE/pdbfetch/6ueb.cif
python/protein/VAE/pdbfetch
python/protein/VAE/index.faiss~20220602-094951~/ids.npy
python/protein/VAE/index.faiss~20220602-094951~/index.faiss
python/protein/VAE/index_L2.faiss/ids.npy
python/protein/VAE/index_L2.faiss/index.faiss
python/protein/VAE/index_test.faiss/ids.npy
python/protein/VAE/index_test.faiss/index_test.faiss
python/protein/VAE/latent.txt
python/protein/VAE/index.faiss/ids.npy
python/protein/VAE/index.faiss/index.faiss
python/protein/VAE/models/cmapvae_20220525_0843.pt
python/protein/VAE/models/cmapvae_20220525_0843.pt~20220525-170542~
python/protein/VAE/index_20220603_1045.faiss/ids.npy
python/protein/VAE/index_20220603_1045.faiss/index.faiss
python/protein/VAE/data/4ci0.pdb
